#front-page-header {
	padding: rem-calc(100) 0;
	background: $light-gray;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: rem-calc(60);
}

.page-template-front-community {
	.entry-content {
		img {
			border: 1px solid $medium-gray;
		}
	}
}

