#page-buddypress {
  #buddypress {
    @extend .clearfix;
  }


  // This is used for groups header as well
  #dogium-member-cover {
  	position: relative;
  	padding: 6rem 0 0;
  	background: $light-gray;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;

  }
  #profile-settings-container {
    position: absolute;
    top: rem-calc(15);
    right: rem-calc(15);
    .fa {
      color: $black;
      line-height: 2rem;
      font-size: 1rem;
    }
    a {
      display: block;
      float: left;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: rgba(255,255,255,0.6);
      border: 1px solid $medium-gray;
      text-align: center;
      margin-right: 0.5rem;
      &:hover, &:focus {
        background: rgba(255,255,255,0.9);
        transition: background 0.3s ease-in;
      }
    }
    a:last-child {
      margin-right: 0;
    }

  }
  .item-header-container-wrap {
    position: relative;
    min-height: rem-calc(250);
    transform: translateY(rem-calc(15));
  }
  #item-header-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    h2 {
      vertical-align: bottom;
    }
    
  }
  #item-header-avatar {
    position: relative;
  	float: left;
  }
  #item-header-content {
  	float: left;
  	margin-left: 1rem;
    height: 100%;
    h1 {
      line-height: 1em;
      small {
        font-weight: normal;
      }
    }
    .highlight {
      @extend .label;
    }
  }
  #item-actions {
    float: left;
    margin-left: 1rem;
    padding-left: 1rem;
    h2 {
      @include font-size(1);
    }
  }
  #template-notices {
    margin-top: 1rem;
    #message {
      @extend .columns;
      @extend .medium-10;
      @extend .medium-centered;
    }
    p {
      @extend .callout;
      @extend .primary;
    }
  }
  #change-profilepic-link {
    position: absolute;
    bottom: rem-calc(15);
    left: 50%;
    margin-left: -1.5rem;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(255,255,255,0.6);
    border: 1px solid $medium-gray;
    text-align: center;
    .fa {
      color: $black;
      line-height: 3rem;
      font-size: 1.25rem;
    }
    &:hover, &:focus {
      background: rgba(255,255,255,0.9);
      transition: background 0.3s ease-in;
    }
  }
  #change-cover-link {
  	position: absolute;
  	top: rem-calc(15);
  	left: rem-calc(15);
  	z-index: 2;
  	width: 4rem;
  	height: 4rem;
  	border-radius: 50%;
  	background: rgba(255,255,255,0.6);
  	border: 1px solid $medium-gray;
  	text-align: center;
  	.fa {
  		color: $black;
  		line-height: 4rem;
  		font-size: 1.75rem;
  	}
  	&:hover, &:focus {
  		background: rgba(255,255,255,0.9);
  		transition: background 0.3s ease-in;
  	}
  }
  #item-nav, #item-body {
      @extend .columns;
      @extend .medium-10;
      @extend .medium-centered;
  }

  #item-body {
    #message {
      margin-bottom: 4rem;
    }
  }
  #group-admins {
    margin-left: 0;
    li {
      display: inline-block;
    }
    .avatar {
      width: rem-calc(40);
      height: rem-calc(40);
    }
  }

  #item-buttons {
    @extend .small;
    @extend .button-group;
    div {
      display: inline-block;
      @extend .button;
      @extend .secondary;
    }
    a {
      color: $white;
    }
    .group-button {
    
    .leave-group {
        @extend .secondary;
      }
    }
    .friendship-button.add {
      @extend .secondary;
    }
    .friendship-button.remove {
      @extend .secondary;
    }
    #post-mention a, #send-private-message a {
      @extend .secondary;
    }
  }
  #subnav {
  	ul {
  		margin-left: 0;
  		@extend .clearfix;
  	}
  	li {
  		float: left;
  	}
    a {
      font-weight: bold;
      color: $dark-gray;
      padding: 0.3em 0.75em;
      background: $light-gray;
      &:hover, &:focus {
        background: $secondary-color;
        color: $white;
      }
    }
    .current {
      a {
        background: $secondary-color;
        color: $white;
      }
    }
    #group_members-order-select {
      float: right;
    }
  	#activity-filter-select {
  		float: right;
  	}
    #groups-order-select {
      float: right;
    }
    #members-order-select {
      float: right;
    }
  }
	.activity {
		.load-more a {
			@extend .button;
			@extend .hollow;
			&:after {
				content: "\f055";
				font-family: FontAwesome;
				margin-left: 0.5rem;
			}
		}
	}	
	#object-nav {
    @extend .clearfix;
    #xprofile-personal-li {
      display: none;
    }
    #settings-personal-li {
      display: none;
    }
    ul {
       text-align: center;
      }
    li {
      display: block;
      padding: 0.75em;
      border-bottom: 1px solid $medium-gray;
    }

		.current {
			background: $light-gray;
		}
		a {
			font-weight: bold;
      text-transform: uppercase;
			color: $black;
		}
		span {
			width: 1.75rem;
			height: 1.75rem;
			display: inline-block;
			border-radius: 50%;
			text-align: center;
      background: $primary-color;
      color: $white;
		}
		.count {
			background: $primary-color;
			color: $white;
		}
		.no-count {
			background: $medium-gray;
			color: $dark-gray;
		}
    @include breakpoint(medium) {
        ul {
          text-align: right;
          margin-left: 0;
          border-bottom: 1px solid $medium-gray;
        }
        li {
          text-align: left;
          display: inline-block;
          padding: 0.5em 0.75em 1em;
          border-bottom-width: 0;
        }
        
    }
	}	
	#subnav {
		ul {
			margin-left: 0;
		}
	}
}

