#single-post {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(medium) {
      @include grid-column(12);
    }

    @include breakpoint(large) {
      @include grid-column(8);
    }
  }

  .entry-content {
  	margin-bottom: rem-calc(40);
  }

  .the_champ_sharing_container {
  	margin-bottom: rem-calc(20);
  }
  .the_champ_sharing_title {
  	@extend .screen-reader-text;
  }
}

.header-entry-meta {
    @include font-size(1.25);
    color: $dark-gray;
    margin-bottom: rem-calc(20);
    time {
      margin-right: 0.5rem;
    }
}
