#single-dog {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }
  }

  // Dog meta fields
  span.owners:first-child {
  	&:after {
  		content: ", ";
  	}
  }
  .image-box {
      background: $light-gray;
      text-align: center;
      margin-bottom: rem-calc(15);
      border: 1px solid $medium-gray;
      
      img {
        vertical-align: middle;
      }
    } 
}