.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.acf-hl {
	.button {
		@extend .small;
		@extend .success;
		margin-bottom: 0;
		margin-right: 0.5rem;
		&:before {
			content: "\f067";
			font-family: FontAwesome;
			margin-right: 0.5rem;
		}
	}
	
}

.acf-gallery .acf-gallery-toolbar {
	height: auto !important;
}