.wpcf7 {
	width: 100%;
	input[type="submit"] {
		@extend .button;
	}
	textarea {
		height: rem-calc(100);
	}
}

.search-form {
	font-size: 0; // whitespace hack
	//margin-bottom: 80px;
	position: relative;

	input[type="search"] {
		height: rem-calc(50);
		width: 100%;
		vertical-align: top;
		border-radius: 0;
		&:active, &:focus {
		outline: none;
		}
	}
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: rem-calc(50);
		height: rem-calc(50);
		padding: 0;
		background-color: $primary-color;
		vertical-align: top;
		margin-left: rem-calc(-50);
		&:focus, &:hover {
		
		}
		.fa {
			color: $white;
			@include font-size(2);
		}
	}
}

#search-members-form,
#search-groups-form {
	font-size: 0; // whitespace hack
	//margin-bottom: 80px;
	position: relative;

	input[type="search"],
	input[type="text"] {
		height: rem-calc(50);
		width: 100%;
		vertical-align: top;
		&:active, &:focus {
		outline: none;
		}
	}
	input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		width: rem-calc(100);
		height: rem-calc(50);
		@include font-size(1);
		font-weight: bold;
		color: $white;
		padding: 0;
		border: none;
		background-color: $primary-color;
		vertical-align: top;
		margin-left: rem-calc(-100);
		&:focus, &:hover {
		
		}
		
	}
}

#em-wrapper form {
	input[type="text"],
	input[type="email"],
	input[type="number"],
	select,
	textarea {
		width: 80%;
		margin-bottom: 0;
	}
	i {
		display: none;
	}
	td {
		vertical-align: middle;
	}
	.ticket-options {
		margin-top: rem-calc(10);
		margin-bottom: rem-calc(20);
	}
}

#search-container {
	background: $light-gray;
	position: absolute;
	top: 100%;
	right: 0;
	width: 50%;
	padding: rem-calc(10) rem-calc(15);
	font-size: 0; // whitespace hack
	z-index: 99;
	.search-form {
		margin-bottom: 0;
	}
	input[type="search"] {
		width: 100%;
	}

}

#mobile-search-container {
	.search-form {
	
	}
}

#search-container[aria-hidden="true"] {
	opacity: 1;
}

#search-container[data-visible="false"] {
	transition: opacity, 0.5s, ease-in-out;
	opacity: 0;
}

#search-container[data-visible="true"] {
	transition: opacity, 0.5s, ease-in-out;
	opacity: 1;
}

@include breakpoint(small only) {
	#search-toggle {
		display: none;
	}
}