.widget ul {
	list-style-type: none;
}

// Login widget
.widget_bp_core_login_widget {
	background: $light-gray;
	padding: 1em;
	text-align: center;
	.bp-login-widget-user-links>div {
		padding-left: 0 !important;
	}
	.bp-login-widget-user-avatar {
		float: none !important;
		display: inline-block;
		img {
			width: 50px;
			height: 50px;
		}
	}
	.bp-login-widget-user-link {
		display: inline-block;
	}
	.logout, input[type="submit"] {
		@extend .button;
		@extend .expanded;
	}
}

.widget_thechamplogin {
	background: $light-gray;
	padding: 0 1em 1em;
}



// BP Members
.widget_bp_core_members_widget {
	margin-top: 1rem;
	#members-list {
		@extend .row;
		.vcard {
		@extend .columns;
		@extend .small-3;
		@extend .medium-4;
		text-align: center;
		clear: none !important;
		&:last-child {
			@extend .end;
		}
		}
	}
	.item-options {
		text-align: center;
		margin-bottom: 1rem;
	}
	.item-meta {
		display: none;
	}
	.item-title {
		@include font-size(0.8);
	}
	.item-avatar img {
		margin: 0;
		float: none !important;
		height: auto !important; 
		width: 100%!important;
		max-width: 80px;
	}
}

// BP Groups
.widget_bp_groups_widget {
	text-align: center;
	.item-options {
		margin-bottom: 1rem;
	}
	#groups-list {
		@extend .row;
		.bp-single-group {
		@extend .columns;
		@extend .small-3;
		@extend .medium-4;
		text-align: center;
		clear: none !important;
		&:last-child {
			@extend .end;
			}
		}
		.item-meta {
			display: none;
		}
		.item-title {
			@include font-size(0.8);
		}
		.item-avatar img {
			margin: 0;
			float: none !important;
			height: auto !important; 
			width: 100%!important;
			max-width: 80px;
	}
	}
}

// Dogs widget
.recent-posts-extended .dogium-new-dogs {
	ul {
		list-style-type: none;
		margin-left: 0;
		@extend .row;
		li {
			@extend .columns;
			@extend .small-3;
			@extend .medium-4;
			text-align: center;
			clear: none !important;
			&:last-child {
			@extend .end;
			}
		}
		.rpwe-thumb {
			border-radius: 50%;
		}
		.rpwe-title {
			@include font-size(0.8);
			font-weight: normal;
		}
	}
}

// Articles widget
.recent-posts-extended .dogium-articles {
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	.more-link {
		font-weight: bold;
		&:before {
		content: " ";
		}
	}
	.rpwe-thumb {
		margin-bottom: 1rem;
	}
	.rpwe-title {
		@include font-size(1.25);
		text-transform: uppercase;
		font-weight: bold;
		color: $primary-color;
	}
}

