body.no-js #buddypress form#whats-new-form textarea {
	height: 50px;
}

select#bbm-media-privacy {
   height: auto !important;
}

.status-publish {
	.activity {
		margin-top: rem-calc(60);
		margin-left: rem-calc(20);
	}
}

#buddypress {
	@extend .clearfix;
	// Single status


	//Groups + members archive
	#groups-list, #members-list {

		font-size: 0;
		.pagination a, .pagination button {
		    display: inline-block;
		}
		.item-meta {
			display: none;
		}
		.item-title {
			.update {
				display: none;
			}

		}
		.action {
			
		}
		li {
			@include font-size(1);
			text-align: center;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding: 1em;
			margin-bottom: rem-calc(40);
			.item-avatar {
				img {
					// override social avatar styles
					float: none !important;
					margin-right: 0 !important;
				}
			}
		}
		@include breakpoint(medium) {
			li {
				width: 33.33%;
			}
		}
		@include breakpoint(large) {
			li {
				width: 25%;
			}
		}
	}

	// Media 
	.buddyboss-media-photos-wrap-container {
    	max-width: 100%;
	}
	// Pages
	#header-cover-image {
		background-color: $light-gray;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		border: 0;
		display: block;
		width: 100%;
		z-index: 1;
	}
	
	// Activity stream
	.bp-screen-reader-text {
		@extend .screen-reader-text;
	}
	.acomment-options {
    	float: none;
    	margin-bottom: rem-calc(10);
    	ul {
    		margin-left: 0;
    	}
	}
	.activity-meta {
		
		.button {
			background: none;
			color: $dark-gray;
			padding: 0;
			margin-right: 1rem;
			font-weight: normal;
			margin-bottom: 0;
		}
		.comments-toggle {
			@include font-size(0.8);
			font-weight: bold;
		}
	}
	.fav, .fav-comment {
		font-size: 0;
		margin-right: 1rem;
		&:before {
		@include font-size(1);
		content: "\f087";
		font-family: FontAwesome;
		margin-right: 0.5rem;
		}
	}

	.unfav, .unfav-comment {
		font-size: 0;
		margin-right: 1rem;
		&:before {
		@include font-size(1);
		content: "\f164";
		font-family: FontAwesome;
		color: $primary-color;
		margin-right: 0.5rem;
		}
	}

	.acomment-reply {
		font-size: 0;
		margin-right: 1rem;
		&:before {
			@include font-size(1);
			content: "\f112";
			font-family: FontAwesome;
			color: $dark-gray;
			margin-right: 0.5rem;
		}
	}

	a[href*=ac-form-] {
		background: none;
		@include font-size(0.8);
		color: $dark-gray;
	}

	.delete-activity, .acomment-delete {
		font-size: 0;
		margin-right: 1rem;
		&:before {
			color: $dark-gray;
			@include font-size(1);
			content: "\f014";
			font-family: FontAwesome;
			margin-right: 0.5rem;
		}
	}

	.buddyboss_privacy_filter {
		font-size: 0;
		&:before {
			@include font-size(1);
			content: "\f023";
			font-family: FontAwesome;
			margin-right: 0.5rem;
		}
	}

	#bbwall-privacy-selectbox {
    	height: auto;
	}

	ul {
		list-style-type: none;
		@extend .clearfix;
	}
	.activity-item {
		background: $light-gray;
		margin-bottom: 4rem;
		margin-left: 1rem;
	}
	.activity-item:last-child {
		margin-bottom: 1rem;
	}
	.avatar {
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	}
	.activity-header {
		@include font-size(0.8);
		.avatar {
			display: none;
		}
		p {
			color: $dark-gray;
			font-weight: bold;
		}	
	}
	.activity-avatar {
		display: inline-block;
		transform: translate(-50%,-50%);
		img {
			width: rem-calc(80);
			height: rem-calc(80);
		}
	}
	.activity-content {
		padding: 0 1em;
		margin-top: rem-calc(-40);
	}
	.activity-inner {
		@include font-size(1.25);
	}
	.activity-comments {
		li[id*=acomment-] {
			border-left: 1px solid $medium-gray;
			padding-left: rem-calc(10);
			.acomment-meta {
				@include font-size(0.8);
				color: $dark-gray;
				font-weight: bold;	
			}
			.acomment-content {
				@include font-size(1.25);
			}
		}
		.activity-like-count {
			margin-bottom: rem-calc(20);
			@include font-size(0.8);
		}
		.activity-like-count:first-child:before {
    			content: "\f164";
				font-family: FontAwesome;
				color: $primary-color;
				margin-right: 0.5rem;
    		}
		.acomment-avatar img {
			width: rem-calc(40) !important;
			height: rem-calc(40) !important;
		}
		.ac-form:last-child {
			//display: block !important;
		}
	}

}

.avatar {
	border-radius: 50%;
}


#whats-new-form {
	//background: $light-gray;
	margin-bottom: 4rem;
	textarea {
		background: #fff;
		box-sizing: border-box;
		color: #555;
		font-family: inherit;
		font-size: medium;
		height: 2.2em;
		line-height: 1.4;
		padding: 6px;
		box-shadow: none;
		border: 1px solid $medium-gray;
		width: 100%;
	}
	.activity-greeting {
		@include font-size(1.25);
		margin-left: 0 !important;
		margin-bottom: 0;
		text-align: center;
		&:after {
			content: "\f040";
			color: $primary-color;
			font-family: FontAwesome;
			margin-left: 0.5rem;
		}
	}
}

#whats-new-avatar {
	transform: translate(-50%,-50%);
}

#whats-new-avatar, .ac-reply-avatar img {
	width: rem-calc(40) !important;
	height: rem-calc(40) !important;
	border-width: 0;
}

#whats-new-content {
	padding: 1em 2em !important;
	margin-left: 0 !important;
	#whats-new-options {
		//overflow: hidden;
	}
}

.active {
	#whats-new-options {
		//display: block;
		height: auto !important;
		//overflow: visible;
	}
}

#buddypress div.activity-comments form.ac-form {
	display: none;
	padding: 10px;
}
#buddypress div.activity-comments li form.ac-form {
	margin-right: 15px;
	clear: both;
}