body.no-js #buddypress form#whats-new-form textarea {
	height: 50px;
}

#buddypress {
	// Pages
	#header-cover-image {
		background-color: $light-gray;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		border: 0;
		display: block;
		width: 100%;
		z-index: 1;
	}
	
	// Activity stream
	.bp-screen-reader-text {
		@extend .screen-reader-text;
	}
	.acomment-options {
    	float: none;
    	margin-bottom: 1rem;
    	ul {
    		margin-left: 0;
    	}
	}
	.button {
		@extend .small;
		@extend .hollow;
		@extend .secondary;
		padding: 0.5em 1em;
	}
	.fav {
		&:before {
		content: "\f087";
		font-family: FontAwesome;
		margin-right: 0.5rem;
		}
	}

	.unfav {
		&:before {
		content: "\f164";
		font-family: FontAwesome;
		color: $primary-color;
		margin-right: 0.5rem;
		}
	}

	.delete-activity {
		&:before {
			content: "\f014";
			font-family: FontAwesome;
			margin-right: 0.5rem;
		}
	}

	.buddyboss_privacy_filter {
		&:before {
			content: "\f023";
			font-family: FontAwesome;
			margin-right: 0.5rem;
		}
	}

	#bbwall-privacy-selectbox {
    	height: auto;
	}

	ul {
		list-style-type: none;
		@extend .clearfix;
	}
	.activity-item {
		background: $light-gray;
		margin-bottom: 4rem;
		margin-left: 1rem;
	}
	.avatar {
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	}
	.activity-avatar {
		display: inline-block;
		transform: translate(-50%,-50%);
		img {
			width: rem-calc(80);
			height: rem-calc(80);
		}
	}
	.activity-content {
		padding: 0 1em;
		margin-top: rem-calc(-40);
	}
	.activity-comments {
		margin-left: 0 !important;
		.activity-like-count {
			margin-bottom: 1rem;
			@include font-size(0.8);
		}
		.activity-like-count:first-child:before {
    			content: "\f164";
				font-family: FontAwesome;
				color: $primary-color;
				margin-right: 0.5rem;
    		}
		.acomment-avatar img {
			width: rem-calc(40) !important;
			height: rem-calc(40) !important;
		}
		.ac-form {
			margin-top: 1rem;
			margin-left: rem-calc(40);
			.ac-reply-avatar {
				display: inline-block;
				transform: translate(-50%,-50%);
			}
			.ac-reply-content {
				margin-top: rem-calc(-40);
			}
		}
	}

}

.avatar {
	border-radius: 50%;
}


#whats-new-form {
	background: $light-gray;
	margin-bottom: 4rem;
	margin-left: 0.5rem;
	textarea {
		background: #fff;
		box-sizing: border-box;
		color: #555;
		font-family: inherit;
		font-size: medium;
		height: 2.2em;
		line-height: 1.4;
		padding: 6px;
		width: 100%;
	}
	.activity-greeting {
		padding-top: 1.5em;
		margin-left: 0 !important;
		text-align: center;
		&:after {
			content: "\f040";
			color: $primary-color;
			font-family: FontAwesome;
			margin-left: 0.5rem;
		}
	}
}

#whats-new-avatar {
	transform: translate(-50%,-50%);
}

#whats-new-avatar, .ac-reply-avatar img {
	width: rem-calc(40) !important;
	height: rem-calc(40) !important;
	border-width: 0;
}

#whats-new-content {
	@extend .clearfix;
	padding: 1em 2em !important;
	margin-left: 0 !important;
	#whats-new-options {
		display: none;
		@extend .clearfix;
		//overflow: hidden;
		//height: auto !important;
	}
}

#buddypress div.activity-comments form.ac-form {
	display: none;
	padding: 10px;
}
#buddypress div.activity-comments li form.ac-form {
	margin-right: 15px;
	clear: both;
}