.classified_listings {
	border: none;
	article.classified_listing {
		border: 1px solid $light-gray;
		a {
			padding: 0;
			position: relative;
		}
		.classified_featured_image {

		}
		.label {
			position: absolute;
			top: 0;
			right: 0;
			@include font-size(1.25);
			font-weight: bold;
		}
	}
	.classified_filters {
		@extend .row;
		@extend .column;
		margin-bottom: rem-calc(40);
	}
	.no_classified_listings_found {
		@extend .callout;
		@extend .warning;
		list-style-type: none;
	}
}

.single-classified_listing {
	.classified-price {
		@include font-size(2);
		background: $light-gray;
		font-weight: bold;
		padding: 0.5rem;
		color: $primary-color;

	}

	h2.widget-title {
		text-align: left;
	}
	
	.classified_featured_image {
		@extend .thumbnail;
		width: 100%;
	}
	.classified_images {
		border: none;
	}
	.classified_images_gallery {
		border: none;
	}
	.classified_contact {
		margin-top: rem-calc(20);
	}
	.contact_details {
		display: block !important;
		background: $light-gray;
		padding: 1rem;
		margin-bottom: rem-calc(20);
	}
	.classified-listing-meta {
		border: none;
	}
	.classified-listing-meta {
		padding: 0;
		li {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.the_champ_horizontal_sharing {
		margin-bottom: rem-calc(20);
	}
	.meta {
		li {
			display: block;
			float: none;
		}
	}
	.seller-profile {
		margin-bottom: rem-calc(20);
	}

	.classified_images_gallery {
		margin-bottom: rem-calc(20);
	}

	.classified-manager-form .classified_images_gallery a:first-of-type, .single_classified_listing .classified_images_gallery a:first-of-type {
   		border: none;
   		background: none;
	}

	.classified-manager-form .classified_images_gallery a:not(:first-of-type), .single_classified_listing .classified_images_gallery a:not(:first-of-type) {
    	padding-top: 0;
	}


}

