/*GEODIRECTORY RESPONSIVE STYLESHEETS*/

/*FONTS*/
/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/


.geodir_list_heading h1, .geodir_list_heading h2, .geodir_list_heading h3, .geodir_list_heading h4, .geodir_list_heading h5 {
	display: none;
}

.geodir-list-view-select,
.geodir-breadcrumb,
.geodir_list_heading {
	display: none;
}



.geodir-loc-bar {
	@extend .row;
}

.geodir-loc-bar-in {
	@extend .columns;
	@extend .medium-6;
}

.geodir-filter-container {
	@extend .columns;
	@extend .medium-6;
	.cat_select {
		width: rem-calc(160);
		height: rem-calc(40);
	}
	.geodir-advance-search {
		@extend .columns;
		@extend .medium-6;
		.geodir_submit_search {
			flex: 0 0 auto;
			width: rem-calc(40) !important;
			height: rem-calc(40) !important;
		}
	}	
}

.geodir-filter-cat {
	span {
		display: none;
	}
}

.map_category input[type="text"] {
	display: none;
}

.geodir-custom-cat-list {
	.widget-title {
		text-align: left;
	}
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	li {
		margin-left: 0;
		padding: 0.25em 0;
		img {
			max-width: rem-calc(24);
		}
	}
}

#geodir-sidebar-right{
	position:unset;
	width:100% !important;
	word-wrap: break-word;
	float: none;
}
#geodir-sidebar, #geodir-sidebar-left {
	position:unset;
	width:100% !important;
	word-wrap: break-word;
}
#geodir-wrapper-content{
	position: unset;
	width:100% !important;
}

.geodir-map-listing-page {
	width: 100% !important;
}

// Detail page 'more info' box
.geodir-detail-list {
	list-style-type: none;
	margin-left: 0;
	li {
		margin-left: 0;
	}
}

.geodir_full_page {
	margin-bottom: 3rem;
}

.geodir-search .geodir_submit_search, .showFilters {
	display: none;
}

.customize_filter {
	display: block !important;
}