.geodir_list_heading h1, .geodir_list_heading h2, .geodir_list_heading h3, .geodir_list_heading h4, .geodir_list_heading h5 {
	display: none;
}

.geodir_category_list_view li.geodir-gridview h3 {
    
    line-height: $global-lineheight;
    text-overflow: initial;
    overflow: visible;
    white-space: initial;
}

.geodir_map_container {
	margin-bottom: 0;
	img {
		opacity: 1 !important;
	}
}

.treeview {
	input[type="checkbox"] {
		margin-bottom: 0;
	}
}

.geodir_category_list_view li.geodir-gridview h3 {
	@extend .secondary-title;
}

.geodir_category_list_view li.geodir-gridview .geodir-post-img {
	margin-bottom: rem-calc(10);
}

.geodir-category {
	display: none;
}

.geodir-list-view-select,
.geodir-breadcrumb,
.geodir_list_heading {
	display: none;
}


#geodir-sidebar-left {
	.geodir_location_listing {
		@include font-size(0.75);
	}
	.gd-post-gd_place {
		margin-bottom: rem-calc(20);
	}
}

#geodir-sidebar {
	.geodir-detail-list {
		display: none;
	}
}

// Custom component for details page category list
.geodir-categories-horizontal-list {
	margin-bottom: rem-calc(20);
	li {
		font-weight: bold;
		text-transform: uppercase;
		padding-right: 1rem;
		img {
			width: rem-calc(24);
		}
	}
	li:last-child {
		padding-right: 0;
	}
}

// Latest places widget
.geodir_category_list_view li {
	border-bottom: none;
}


.geodir_category_list_view {
	li {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.geodir-gridview {
		border: none !important;
	}
}

.geodir-loc-bar {

	@extend .row;
	@extend .collapse;
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	background: $light-gray;
}

.geodir-loc-bar-in {
	@extend .columns;
	@extend .large-5;
	background: initial;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

.geodir-filter-container {
	@extend .columns;
	@extend .large-5;
	.customize_filter {
		padding: 0;
		@extend .row;
		@extend .collapse;
		background-color: initial;
		border: none;
		.customize_filter_inner {
			@extend .columns;
			//@extend .large-6;
			@extend .small-6;
			padding-left: 0;
			padding-right: 0;
		}

	}
	.geodir-filter-cat {
		padding: 0;
		ul {
			margin-left: 0;
			margin-bottom: 0;
			li {
				border-bottom: none;
				padding: 5px;
			}
		}
	}
	.cat_select {
		//width: rem-calc(200) !important;
		height: rem-calc(38) !important;
	}
}

.geodir-addtofav-icon {
	display: none;
}

#geodir-wrapper .geodir-loc-bar .geodir-filter-container .geodir-advance-search {
    @extend .columns;
	@extend .small-6;
	background: none;
	.geodir_submit_search {
		background: $primary-color;
		color: $white;
		font-weight: bold;
		margin: 5px;
	}
}

.geodir-filter-cat {
	span {
		display: none;
	}
}

.map_category input[type="text"] {
	display: none;
}

.geodir-custom-cat-list {
	.widget-title {
		text-align: left;
	}
	ul {
		list-style-type: none;
		margin-left: 0;
	}
	li {
		margin-left: 0;
		padding: 0.25em 0;
		img {
			max-width: rem-calc(24);
		}
	}
}

#geodir-sidebar-right{
	position:unset;
	width:100% !important;
	word-wrap: break-word;
	float: none;
}
#geodir-sidebar, #geodir-sidebar-left {
	position:unset;
	width:100% !important;
	word-wrap: break-word;
}
#geodir-wrapper-content{
	position: unset;
	width:100% !important;
}

.geodir-map-listing-page {
	width: 100% !important;
}

// Detail page 'more info' box
.geodir-detail-list {
	list-style-type: none;
	margin-left: 0;
	li {
		margin-left: 0;
	}
}

.geodir_full_page {
	margin-bottom: 3rem;
}

.geodir-search .geodir_submit_search, .showFilters {
	display: none;
}

.customize_filter {
	display: block !important;
}