#masthead {
  position: relative;
  z-index: 999;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}



#login-bar {
  @include hide-for(large);
  background: $secondary-color;
  padding: 0.5rem 0;
  color: $white;
  text-align: right;
  font-weight: bold;
  a {
    color: $white;
    font-weight: bold;
    text-decoration: underline;
  }
}

#dogium-notifications {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 1.5rem 1rem 0;
  font-weight: bold;
  img {
    max-width: rem-calc(25);
    height: auto;
  }
  span {
    display: inline-block;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    height: rem-calc(20);
    width: rem-calc(20);
    @include font-size(0.8);
    text-align: center;
    background: $primary-color;
    color: $white;
    border-radius: 50%;
  }
}

.top-bar-left img {
	padding: 0.5rem;
	max-width: 220px;
}

#page-header {
	padding: rem-calc(70) 0 rem-calc(90);
	background: $medium-gray;
  background-image: url(../../assets/images/koiraprofiili_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	margin-bottom: 4rem;

}

#page-header-thin {
  border-top: 3px solid $secondary-color;
}