// Navigation breakpoints
.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

// Mobile menu
.off-canvas {
  height: 100vh;
  padding: 0.5rem;
  > ul.menu {
    margin-bottom: rem-calc(10);
    a {
      font-weight: bold;
      text-transform: uppercase;
      color: $dark-gray;
      border-bottom: 1px solid $medium-gray;
    }
    li:last-child a {
      border-bottom-width: 0;
    }
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

// Search toggle

#search-toggle {
  height: 4.75rem;
  vertical-align: top;
  margin: 0 1rem;
  .fa {
    line-height: 1;
    color: $black;
  }
}

// Tablet and desktop menu
.top-bar {
  .menu {
    display: inline-block;
  }
  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 4.75rem;
    color: $primary-color;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    @include font-size(1.2);
    line-height: 4.75rem - 2rem;

    &:hover:not(.button) {
      background-color: initial;
    }
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
  }

  .menu li:not(:last-child) {
    //border-right: 1px solid #4e4e4e;
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0;
  }

  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

// Text meant only for screen readers. Addresses part of theme-check issue #840.
// https://github.com/Automattic/_s/blob/master/style.css
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; // Above WP toolbar.
}

.nav-previous {
  float:left;
  &:before {
    content: "\f060";
    font-family: FontAwesome;
    margin-right: 0.5rem;
    color: $primary-color;
  }
}

.nav-next {
  float:right;
  &:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: 0.5rem;
    color: $primary-color;
  }
}

.off-canvas-content {
  box-shadow: none;
}

.pagination {
  font-weight: bold;
  li, .current {
    padding: 0;
  }

}
