// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) * 1px;
	font-size: $sizeValue * 1rem;
}

// Secondary typography

.secondary-title {
	@include font-size(1.25);
	text-transform: uppercase;
	font-weight: bold;
	color: $primary-color;
}

.widget-title {
	@include font-size(1.75);
	text-transform: uppercase;
	font-weight: bold;
	color: $primary-color;
}


.widget h3, .geodir_category_list_view h3 {
	@include font-size(1);
	text-transform: uppercase !important;
}

.no-margin {
	list-style-type: none;
	margin-left: 0;
	li {
		margin-left: 0;
	}
}

// Header intro paragraph
.intro {
	@include font-size(1.75);
  	font-weight: bold;
  	padding: 0 1rem;
}

// Footer typography

#footer {
	font-weight: $global-weight-bold;
	.widget-title {
		text-align: left;
		color: $black;
	}
	a {
		color: $black;
	}
}

// Helper classes
.white {
	color: $white;
}

.blue {
	color: $primary-color;
}

.text-shadow {
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.uppercase {
	text-transform: uppercase;
}

// Button text 
.button {
	font-weight: $global-weight-bold;
}

th {
	text-align: left;
}